.catphone{
    transform: rotate(-35deg);
}

.--contectheight{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 767px) {
    .--contectheight{
        height: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
    }    

}

.--contactcardbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: seashell;
    border-radius: 30px;
    border: 1px solid #8b622e;
    box-shadow: 0 0 5px #b7833f,
                0 0 20px #b6894e;
}

.--contact-title{
    font-size: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #8b622e;
}

.contactinput-box{
    height: 50px;
    width: 100%;
    margin: 16px 0;
    position: relative;
}

.contactinput-box input{
    padding: 0px 10px;
    color: #8b622e;
    outline: none;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    background-color:seashell;
    border: 2px solid #8b622e;
    transform: all 0.3s ease;
}


.contactinput-box label{
    position: absolute;
    left: 12px;
    top: 0;
    color: #8b622e;
    display: 14px;
    background-color:seashell;
    font-size: 15px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
/* 
.--contactcardbox input:focus ~ label,
.--contactcardbox input:valid ~ label{
    top: 0;
    left: 12px;
    display: 14px;
    color: #8b622e;
    background-color:seashell;
} */

.contactinput-messagebox{
    min-height: 100px;
    position: relative;
}
.contactinput-messagebox textarea{
    position: absolute;
    height: 100%;
    width: 100%;
    resize: none;
    background: seashell;
    border: 2px solid #8b622e;
    border-radius: 6px;
    outline: none;
    padding: 10px;
}


  .contactinput-messagebox label{
    position: absolute;
    font-size: 16px;
    color: #8b622e;
    background: seashell;
    left: 12px;
    top: -10px;
    pointer-events: none;
  }
  