@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400&display=swap');

*{
    font-family: 'Tinos', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

Nav, Navbar{
    background-color: #d9cb80;
    font-family: 'Tinos', serif;
    font-size: 45px;
    /* box-shadow: 0px 2px 20px #877c17; */
    
}

.icons{
    padding: 5px;
    scale: 2.15;
    justify-content: space-between;
}

.maincolor{
 color: #877c17;
}

nav h1{
    font-size: 20px;
}

div h1{
    font-weight: 800;
}

.caroursel_picture{
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
