.catpaw{
  font-size: 55px;
  color: #00a69e;
}


  .--rank_card{
    background-color: transparent;
    position: relative;
    width: 450px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    border: 0;
  }

  .--rank-allcards{
    padding: 10px 20px 80px 20px;
  }

  .--rank_card .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .--rank_card .circle::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: snow;
    clip-path: circle(120px at center);
    border-radius: 20px;
    transition: 0.5s;
  }
  .--rank_card:hover .circle::before{
    clip-path: circle(400px at center);
    background: #0065c3;
  }
  .--rank_card img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 270px;
    pointer-events: none;
    transition: 0.6s;
  }
  .--rank_card:hover img{
    left: 70%;
    height: 350px;
  }
  .--rank_card .content{
    position: relative;
    left: 10px;
    width: 50%;
    padding: 10px 20px;
    transition: 0.5s;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }
  .--rank_card:hover .content{   
    opacity: 1;
    visibility: visible;
  }
  .--rank_card .content h2{
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 7px;
  }
  .--rank_card .content p{
    color: white;
  }
  .--rank_card .content a{
    position: relative;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    font-weight: 700;
  }
  .--rank_card:nth-child(2):hover .circle::before{
    clip-path: circle(400px at center);
    background: rgba(0, 0, 0, 0.939);
  }
  @media (max-width:991px) {
    .--rank_card{
      width: auto;
      max-width: 350px;
      align-items: flex-start;
      margin: 13px;
    }
    .--rank_card:hover{
      height: 600px;
    }
    .--rank_card .content{
      width: 100%;
      left: 0;
      padding: 30px;
    }
    .--rank_card:hover img{
      top: 70%;
      left: 50%;
      height: 300px;
    }
  }
  @media (max-width:420px) {
    .--rank_card .content{
      padding: 20px;
    }
  }





/* div.--rank_card {
    display: inline-block;
    width: 300px;
}

div.card img{
    transform: scale(80%);
}

div.card img:hover{
    transform: scale(100%);
    transition: 1s;
}

.card-body{
    width: 300px;
    background-color: antiquewhite;
}

.btn-green{
    background-color: #d9cb80;
}

.cards{
    display: flex;
    justify-content: space-around;
}

.spacing{
    margin-top: 150px;
} */