.catpaw{
  font-size: 55px;
  color: #00a69e;
}



.catpaw::before{
  content: "";
  background-image: url('./catpaw1.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 80px; 
  height: 80px;
  position: relative;
  right: 20px;
  vertical-align: bottom;
}


.--home-dashline-box{
  position: relative;
  height: 100px;
}

.--home-dashline{
position: absolute; 
height: 300px;
top: 0; 
left: -3%;
}

.--home-dashline1{
position: absolute; 
top: 0; 
right: 4%;
height: 400px;
}



.catpaw::after{
  content: "";
  background-image: url('./catpaw2.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 60px; 
  height: 60px;
  position: relative;
  left: 20px;
  vertical-align: bottom;
}


@media screen and (max-width: 720px) {
  .--home-dashline{
    position: absolute; 
    height: 200px;
    top: 0; 
    left: -10%;
    }
    .--home-dashline1{
      position: absolute; 
      top: 0; 
      right: -15%;
      height: 300px;
      }
      .catpaw::before{
        content: "";
        background-image: url('./catpaw1.png');
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        width: 50px; 
        height: 50px;
        position: relative;
        right: 20px;
        vertical-align: bottom;
      }
      .catpaw::after{
        content: "";
        background-image: url('./catpaw2.png');
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        width: 50px; 
        height: 50px;
        position: relative;
        left: 20px;
        vertical-align: bottom;
      }
      .cicle-transform1{
        transform: translateX(5%);
        scale: 1.3;
      }
      .cicle-transform2{
        transform: translate(8%,8%);
        scale: 1.4;
      }
      .cicle-transform3{
        transform: translate(10%,3%);
        scale: 1.4;
      }
      .cicle-transform5{
        transform: translateX(5%);
        scale: 1;
      }
      .cicle-transformheart{
        transform: translateX(1%);
        scale: 1.2;
      }
      .cicle-transform6{
        transform: translate(5%,5%);
        scale: 1.4;
      }
      .cicle-transform7{
        transform: translate(8%,8%);
        scale: 1.4;
      }
}


  .--rank_card{
    background-color: transparent;
    position: relative;
    width: 450px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    border: 0;
  }

  .--rank-allcards{
    padding: 10px 20px 80px 20px;
  }

  .--rank_card .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .--rank_card .circle::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: snow;
    clip-path: circle(120px at center);
    border-radius: 20px;
    transition: 0.9s;
  }
  .--rank_card:hover .circle::before{
    clip-path: circle(400px at center);
    background: rosybrown;
    border: 10px outset #e7b387;
  }
  .--rank_card img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 270px;
    pointer-events: none;
    transition: 0.5s;
  }
  .--rank_card:hover img{
    left: 70%;
    height: 350px;
  }
  .--rank_card .content{
    position: relative;
    left: 10px;
    width: 50%;
    padding: 10px 20px;
    transition: 0.5s;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }
  .--rank_card:hover .content{   
    opacity: 1;
    visibility: visible;
  }
  .--rank_card .content h2{
    color: mintcream;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 7px;
  }
  .--rank_card .content p{
    color: mintcream;
  }
  .--rank_card .content a{
    position: relative;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    font-weight: 700;
  }


  .--rank_card:nth-child(2):hover .circle::before{
    clip-path: circle(400px at center);
    background: #236e82;
    border: 10px outset #e7b387;
  }
  @media (max-width:991px) {
    .--rank_card{
      width: auto;
      max-width: 350px;
      align-items: flex-start;
      margin: 13px;
    }
    .--rank_card:hover{
      height: 600px;
    }
    .--rank_card .content{
      width: 100%;
      left: 0;
      padding: 30px;
    }
    .--rank_card:hover img{
      top: 70%;
      left: 50%;
      height: 300px;
    }
  }
  @media (max-width:420px) {
    .--rank_card .content{
      padding: 20px;
    }
  }
  
/* .dashcircle{
  border:1px dashed  #e7b387;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position:absolute;
  left: 85px;
} */


/* div.--rank_card {
    display: inline-block;
    width: 300px;
}

div.card img{
    transform: scale(80%);
}

div.card img:hover{
    transform: scale(100%);
    transition: 1s;
}

.card-body{
    width: 300px;
    background-color: antiquewhite;
}

.btn-green{
    background-color: #d9cb80;
}

.cards{
    display: flex;
    justify-content: space-around;
}

.spacing{
    margin-top: 150px;
} */

  
.home-title-bg{
  background-image: url('./white-cloudbg.png');
  background-repeat: no-repeat;
  background-size: 46%;

}

@media screen and (max-width: 1100px) {
  .--home-dashline{
    position: absolute; 
    height: 200px;
    top: 0; 
    left: -10%;
    }
    .--home-dashline1{
      position: absolute; 
      top: 0; 
      right: -10%;
      height: 300px;
      }
      .catpaw::before{
        content: "";
        background-image: url('./catpaw1.png');
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        width: 50px; 
        height: 50px;
        position: relative;
        right: 20px;
        vertical-align: bottom;
      }
      .catpaw::after{
        content: "";
        background-image: url('./catpaw2.png');
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        width: 50px; 
        height: 50px;
        position: relative;
        left: 20px;
        vertical-align: bottom;
      }
      .cicle-transform1{
        transform: translate(5%,12%);
        scale: 1.3;
      }
      .cicle-transform2{
        transform: translate(8%,22%);
        scale: 1.4;
      }
      .cicle-transform3{
        transform: translate(10%,23%);
        scale: 1.4;
      }
      .cicle-transform5{
        transform: translate(5%,12%);
        scale: 1;
      }
      .cicle-transformheart{
        transform: translate(1%,12%);
        scale: 1.2;
      }
      .cicle-transform6{
        transform: translate(5%,22%);
        scale: 1.4;
      }
      .cicle-transform7{
        transform: translate(8%,28%);
        scale: 1.4;
      }
      .--rank_card .circle::before{       
        clip-path: circle(90px at center);
      }
}


   

