@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400&display=swap');
section.title{
    /* background-color: antiquewhite; */
    padding-top: 20px;
}

section.title div{
font-size: 35px;
font-weight: 800;
}

@media screen and (max-width: 720px) {
    section.title div{
      font-size: 20px;
      font-weight: 800;
      }
}


@media screen and (max-width: 720px) {
  .--animation-words span{
    font-size: 18px;
    display: block;
    height: 100%;
    animation: spin_words 6s infinite , fadeIn 3s ease-in-out infinite;
    }
}
/*
section div img{
    animation: ani_img 3s , fadeIn 3.5s ease-out ;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes ani_img {
    from{
        transform: translateX(120%);
    } to {
        transform: translateX(0%);
    }
}


@keyframes fadeIn {
    
    0% {
      opacity: 0;
    }
  
    100%{
      opacity: 1;
    }
  }
*/