@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400&display=swap');


section{
    padding: 0;
    margin: 0;
}

.wrapper{
    box-sizing: content-box;
    height: 80px;
    padding: 0px;
    display: flex;
    overflow: hidden;
}

.words{
    white-space: pre-line;
    overflow: hidden;
    
}

span{
    font-size: 35px;
    display: block;
    height: 100%;
    /* padding-left: 10px; */
    /* border: 1px solid salmon; */
    
    animation: spin_words 6s infinite , fadeIn 3s ease-in-out infinite;

}

@keyframes spin_words{
    10%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
    100%{
        transform: translateY(-400%);
    }
}


@keyframes fadeIn {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
.words span{
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.words span:nth-child(1) {
    background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
  }

  .words span:nth-child(2) {
    background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
  }

  .words span:nth-child(3) {
    background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
  }

  .words span:nth-child(4) {
    background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
  }

  .words span:nth-child(5) {
    background-image: linear-gradient(45deg, #ff0099 50%, #493240);
  }