:root {
    --offset: 6px;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  h2 {
    width: 980px;
    font-size: 70px;
    line-height: 1.06;
    letter-spacing: -0.02em;
  }
  
  .mask {
    height: 106px;
    position: relative;
    overflow: hidden;
    margin-top: var(--offset);
  }
  
  .mask span {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 100px;
    padding-bottom: var(--offset);
    
    background-size: 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    
    animation: slideUp 2s linear infinite;
  }
  
  .mask .show {
    animation: slideUp 2s linear infinite, fadeIn 0.5s ease-in-out infinite;
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(100%);
    }
    20%, 100% {
      transform: translateY(-200%);
    }
  }
  
  @keyframes fadeIn {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  .mask span:nth-child(1) {
    background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
  }
  
  .mask span:nth-child(2) {
    background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
  }
  
  .mask span:nth-child(3) {
    background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
  }
  
  .mask span:nth-child(4) {
    background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
  }
  