*{
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.--OurHeader{
  background-color: blanchedalmond;
}

.--pageSpace{
  /* height: 500px; */
  min-height: 400px;
  /* 264px */
}

.--login-screen_size{
  width: 100vw;
  height: 100vh;
}

.--login-square-size{
  width: 50%;
  height: 50%;
}

.--product-image_size{
  /* opacity: 0.3; */
}

.--account-image_style{
  opacity: 0.3;
}

.--login-hidden-element{
  display: none;
}

/* From Product page */
.--warnning_sign-styling{

  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%)
}
.--cart-entire_page_size{
  /* width: 100vw;
  height: 100vh; */
  background-color: rgba(0, 0, 0, 0.3);
  left: 50%;
  transform: translateX(-50%);
}