*{
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.--OurHeader{
  background-color: blanchedalmond;
}

.--pageSpace{
  /* height: 500px; */
  min-height: 400px;
  /* 264px */
}

.--login-screen_size{
  width: 100vw;
  height: 100vh;
}

.--login-square-size{
  width: 50%;
  height: 50%;
}

.--product-image_size{
  opacity: 0.3;
}

.--account-image_style{
  opacity: 0.3;
}