@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
}

.body{
  background-color: #fef7d1;
}

.--OurHeader{
  background-color: blanchedalmond;
}

.--pageSpace{
  /* height: 500px; */
  min-height: 100vh;
  /* 264px */
}


/* @media(min-width:767px){
  .--contact-container{
    height: 100vh;
  }
} */

.--account-container{
  min-height: 600px;
}

.--login-screen_size{
  width: 100vw;
  height: 100vh;
}

.--login-square-size{
  width: 50%;
  height: 50%;
}

.--product-image_size{
  /* opacity: 0.3; */
}

.--account-image_style{
  opacity: 0.3;
}

.--login-hidden-element{
  display: none;
}

.secondbg{
  background-color: #b7e0e3;
  }
/* From Product page */
.--warnning_sign-styling{

  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%)
}
.--cart-entire_page_size{
  /* width: 100vw;
  height: 100vh; */
  background-color: rgba(0, 0, 0, 0.3);
  left: 50%;
  transform: translateX(-50%);
}
.mainbg{
  background-color: #fef7d1;
}

/* From Product page */
.--warnning_sign-styling{

  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%)
}
.--cart-entire_page_size{
  /* width: 100vw;
  height: 100vh; */
  background-color: rgba(0, 0, 0, 0.3);
  left: 50%;
  transform: translateX(-50%);
}

.maincolor{
    color: #8b622e;
  }
   
  .--caroursel_picture{
    width: 100%;
    height: 600px;
    object-fit: cover;
  }

  .login-box {
    position: absolute;

    
    min-width: 280px;
    padding: 50px;
    
    background: rgba(210, 180, 140, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px #8b632e76;
    border-radius: 10px;
    z-index: 1;
  }

  .login-box h2 {
    padding: 0;
    color: #8b622e;
    text-align: center;
  }

  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box .boxinput {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #8b622e;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    border-radius: 0px;
    box-shadow: none;
  }

  .login-box .user-box .user-boxlabel{
    position: absolute;
    padding: 10px 0;
  }

  .login-box .user-box .boxinput:focus ~ .user-boxlabel,
.login-box .user-box .boxinput:valid ~ .user-boxlabel {
  top: -20px;
  left: 0;
  color: #8b622e;
  font-size: 12px;
}

.login-box form .user-box-btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #8b622e;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 2px
}

.login-box .user-box-btn:hover {
  background: #8b622e;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #8b622e,
              0 0 25px #8b622e,
              0 0 50px #8b622e,
              0 0 100px #8b622e;
}

.login-box .user-box-btn span {
  position: absolute;
  display: block;
}

.login-box .user-box-btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #8b622e);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box .user-box-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #8b622e);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box .user-box-btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #8b622e);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box .user-box-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #8b622e);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.--screen-size{
  min-height: 90vh;
}

.--about-titlesize{
  font-size: 55px;
  font-weight: 700;
}

.--about-ciclefit{
  clip-path: circle(38% at center);
  opacity:0.5;
  transition: 0.5s ease;
}
.--about-ciclefit:hover {
  opacity:1;
  transition: 0.5s ease;
}

:is(.allbtn, .login-box .allbtn,.noshadowbtn, .cartbtn){
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 40px;
  letter-spacing: 2px;
  color: #8b622e;
 border: 1px solid #8b622e;
 border-radius: 5px;
 margin: 5px;
 background-color: transparent;
}



:is(.noshadowbtn:hover, .cartbtn:hover):hover{
  background: #8b622e;
  color: #fff;
  border-radius: 5px;
}


.allbtn:hover, .login-box .allbtn:hover {
  background: #8b622e;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #8b622e,
              0 0 25px #8b622e,
              0 0 50px #8b622e,
              0 0 100px #8b622e;
}

.login-box .login-useremail{
  color: peru;
  letter-spacing: 2px;
}

/* ============== for payment page ================ */

.--payment-body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.8rem;
}
.--payment-card{
  max-width: 1000px;
  margin: 2vh;
}
.--payment-card-top{
  padding: 0.7rem 5rem;
}
.--payment-card-top a{
  float: left;
  margin-top: 0.7rem;
}
#logo{
  font-family: 'Dancing Script';
  font-weight: bold;
  font-size: 1.6rem;
}
.--payment-card-body{
  padding: 0 5rem 5rem 5rem;

  background-size: cover;
  background-repeat: no-repeat;
}
@media(max-width:768px){
  .--payment-card-body{
      padding: 0 1rem 1rem 1rem;

      background-size: cover;
      background-repeat: no-repeat;
  }  
  .--payment-card-top{
      padding: 0.7rem 1rem;
  }

}
.--payment-row{
  margin: 0;
}

#three{
  border-radius: 1rem;
      width: 22px;
  height: 22px;
  margin-right:3px;
  border: 1px solid blue;
  text-align: center;
  display: inline-block;
}
#payment{
  margin:0;
  color: blue;
}
.--payment-icons{
  margin-left: auto;
}
.--payment-form span{
  color: rgb(179, 179, 179);
}
.--payment-form{
  padding: 2vh 0;
}
.--payment-input{
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
.--payment-input:focus::-webkit-input-placeholder
{
    color:transparent;
}
.--payment-header{
  font-size: 1.5rem;
}
.--payment-left{
  background-color: #ffffff;
  padding: 2vh;   
}
.--payment-left img{
  width: 2rem;
}
.--payment-left .col-4{
  padding-left: 0;
}
.--payment-right .item{
  padding: 0.3rem 0;
}
.--payment-right{
  background-color: #ffffff;
  padding: 2vh;
}
.--payment-col-8{
  padding: 0 1vh;
}
.--payment-lower{
  line-height: 2;
}
.--payment-btn{
  background-color: rgb(23, 4, 189);
  border-color: rgb(23, 4, 189);
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin: 4vh 0 1.5vh 0;
  padding: 1.5vh;
  border-radius: 0;
}
.--payment-btn:focus{
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none; 
}
.--payment-btn:hover{
  color: white;
}
.--payment-a{
  color: black;
}
.--payment-a:hover{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.--payment-input[type=checkbox]{
  width: unset;
  margin-bottom: unset;
}
#cvv{
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.575) , rgba(255, 255, 255, 0.541)), url("https://img.icons8.com/material-outlined/24/000000/help.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
} 
#cvv:hover{

}

/* ==================== Cart Table ==================== */
.--cart-table{
  min-width: 75vw;
}

/* ====================  */

.--login-divider:after,
.--login-divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.animation{
  scale: 0.4;
  height: 600px;
}

.formtitlebgc{
  background-color: wheat
}

.checkedradio input[type='radio']:checked{
  accent-color: #8b622e;
}

.footerbg{
  background-color: #eaac8e;
  z-index: 999;
}

.footertitle{
  font-weight: 700;
}

/* ====================== For loading page ====================== */
.--loadingPage{
  z-index: 999;
}

